/*encabezado */
.header {
    background-color: #f8f9fa;
    padding: 10px 0; 
  }
  
  /*barra de navegación */
  .navbar {
    padding-left: 0; 
  }
  
  .navbar-brand {
    color: #212529;
    font-size: 1.5rem; 
    font-weight: bold; 
  }
  
  .navbar-brand:hover {
    color: #212529; 
  }
  
  .nav-link {
    color: #212529; 
    font-size: 1.2rem; 
  }
  
  .nav-link:hover {
    color: #007bff;
  }
  
  .dropdown-menu {
    background-color: #f8f9fa;
  }
  