@media (max-width: 768px) {
    body {
      background-color: lightblue;
    }
  
    .container {
      width: 90%;
    }
    @media (orientation: landscape) {
      .container {
        width: 80%;
      }
    }
  }
  @media (min-width: 768px) {
    body {
      background-color: rgb(197, 197, 197);
    }
  
    .container {
      width: 80%;
    }
  }