@media (max-width: 768px) {
    body {
      background-color: $body;
    }
  
    .container {
      width: 90%;
    }
    @media (orientation: landscape) {
      .container {
        width: 80%;
      }
    }
  }
  @media (min-width: 768px) {
    body {
      background-color: $body;
    }
  
    .mediosdepago {
      width: 80%;
    }
  }
  @media (min-width: 426px) {
    body {
      background-color: $body;
    }
  
    .derechos {
      width: 80%;
    }
  }
  @media (min-width: 426px) {
    body {
      background-color: $body;
    }
  
    .destacados {
      width: 80%;
    }
  }
 